@import "./variables.scss";

.features_container {
  display: flex;
  height: 487px;
  justify-content: center;
  align-items: center;
  background-color: #090a0d;
  padding: 0 20px;

  p {
    line-height: 30.8px;
  }

  .why_choose_us {
    height: 306px;
    width: 422px;
    border: 2px solid $secondary_color;
    padding: 36px;

    h2 {
      margin-bottom: 28px;
      @include text(38px, white, 600);
    }
    p {
      margin-bottom: 28px;
    }

    button {
      padding: 15px 24px;
      border: 2px solid $primary_color;
      background: transparent;
      color: $primary_color;
      font-size: 17.6px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: $secondary_color;
        border: 2px solid $secondary_color;
        color: white;
      }
    }
  }

  .features_list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: start;
    align-items: center;
    width: 898px;
    padding: 0px 24px;
    // align-items: center;

    .list {
      height: 108px;
      width: 420px;
      margin-bottom: 32px;
      padding: 25px;
      display: flex;
      gap: 20px;

      .icon {
        height: 62px;
        width: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color: #0e0f0f;

        img {
          height: 32px;
          width: 30px;
        }
      }

      h3 {
        position: relative;
        display: inline-block;
        @include text(27px, white, 600);
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          color: $primary_color;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 3px;
          background: $primary_color;
          transition: width 0.4s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1372px) {
    .features_list {
      .list {
        width: 50%;
      }
    }
  }

  @media (max-width: 1192px) {
    .why_choose_us {
      height: fit-content;
    }
  }

  @media (max-width: 1152px) {
    .features_list {
      .list {
        width: 50%;
        margin-bottom: 70px;
      }
    }
  }

  @media (max-width: 890px) {
    flex-direction: column;
    height: fit-content;
    padding: 50px 0;

    .why_choose_us {
      margin-bottom: 50px;
    }

    .features_list {
      width: fit-content;
    }
  }

  @media (max-width: 554px) {
    .why_choose_us {
      width: 80%;
      margin-bottom: 70px;
    }
    .features_list {
      flex-direction: column;
      width: fit-content;

      .list {
        width: 100%;
        margin-bottom: 70px;
      }
    }
  }
}
